doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.socket.io/4.5.4/socket.io.min.js')
    script(type='text/javascript').
      var socket = io();

  body
    block content
